<h1>Home#index</h1>
<br/>
  <h2>Messages</h2>

<%= render @messages %>
<%= form_for Message.new do |f| %>
  <%= f.text_field :content, placeholder: 'Enter your message' %> <br/>
  <%= f.submit %>
<% end %>
